.sortButton {
  background: #4b51ef;
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #fff;
  border: none;
  font-weight: 100;
  line-height: 14px;
  font-size: 12px;
  cursor: pointer;
}
