.fieldBlock {
  box-sizing: border-box;
  .subtitle {
    display: block;
    font-size: 8px;
    margin-bottom: 3px;
  }

  input {
    width: 211px;
    height: 22px;
    color: #000;
    border: 2px solid #d8d8d8;
    border-radius: 5px;
    text-indent: 10px;
    margin-bottom: 10px;
  }

  input::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.fieldBlock:last-child input {
  margin-bottom: -10px;
  width: 420px;
  height: 55px;
}
