.sendBut {
  background: #afafaf;
  padding: 5px 6px 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #fff;
  border: none;
  font-weight: 100;
  line-height: 14px;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 28px;
}
